<nav role="navigation" aria-label="Main navigation">
    <ul>
        <li><a href="index.html" {% if page.url == '/' or page.url == '/index.html' %}class="active"{% endif %} aria-label="Navigate to Home section">Home</a></li>
        <li><a href="index.html#services" aria-label="Navigate to Services section">Services</a></li>
        <li><a href="index.html#portfolio" aria-label="Navigate to Portfolio section">Portfolio</a></li>
        <li><a href="index.html#team" aria-label="Navigate to Team section">Team</a></li>
        <li><a href="games/browser/tetris.html" {% if page.url == '/games/browser/tetris.html' %}class="active"{% endif %} aria-label="Navigate to Tetris game">Tetris</a></li>
        <li><a href="pages/contact.html" {% if page.url == '/pages/contact.html' %}class="active"{% endif %} aria-label="Navigate to Contact Us section">Contact Us</a></li>
    </ul>
</nav>
