<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "IrsikSoftware",
  "url": "{{ site.url }}",
  "logo": "{{ site.url }}/icons/icon-512x512.png",
  "description": "{{ site.description }}",
  "address": {
    "@type": "PostalAddress",
    "addressCountry": "US"
  },
  "sameAs": [
    "https://github.com/irsiksoftware"
  ],
  "contactPoint": {
    "@type": "ContactPoint",
    "contactType": "Customer Service",
    "url": "{{ site.url }}/contact.html"
  }
}
</script>
